<ion-header translucent>
  <ion-toolbar>
    <ion-segment mode="md" [(ngModel)]="segment">
      <ion-segment-button value="home">
        Home
      </ion-segment-button>
      <ion-segment-button value="settings">
        Settings
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'home'">
      <profileHome-view></profileHome-view>
    </div>
    <div *ngSwitchCase="'settings'">
      <profileSettings-view></profileSettings-view>
    </div>
  </div>
</ion-content>
