<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">

        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-0">Modules</h1>
            </div>
            <div class="col-auto">
                <div class="page-utilities">
                    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                        <div class="col-auto">
                            <form class="table-search-form row gx-1 align-items-center">
                                <div class="col-auto">
                                    <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Module Url">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn app-btn-secondary">Install</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade active show" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table app-table-hover mb-0 text-left">
                                <thead>
                                <tr>
                                    <th class="cell">ID</th>
                                    <th class="cell">Name</th>
                                    <th class="cell">URL</th>
                                    <th class="cell">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% modules.forEach((module) => { %>
                                        <tr>
                                            <td class="cell">#<%= module.id %></td>
                                            <td class="cell"><span class="truncate"><%= module.name %></span></td>
                                            <td class="cell"><%= module.url %></td>
                                            <td class="cell"><%= module.status %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>


            </div><!--//tab-pane-->
        </div>

    </div>
</div>