<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <head>
        <title>DriftyJS</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="DriftyJS">
        <meta name="author" content="DriftyJs - Noremacsim">
        <script defer="" src="/assets/core/plugins/fontawesome/js/all.min.js"></script>
        <link id="theme-style" rel="stylesheet" href="/assets/core/css/portal.css">
    </head>

    <body class="app">
        <%- include('../partials/header.html') %>

        <div>
            <%- content %>

            <%- include('../partials/footer.html') %>
        </div>

        <script src="/assets/core/plugins/popper.min.js"></script>
        <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/core/js/app.js"></script>

    </body>
</html>