<ion-toolbar>
  <ion-title>Two-Factor Authentication</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true" class="auth-page">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
        <form [formGroup]="twoFA" (ngSubmit)="submitData()">
          <div class="logo">
            <img src="./assets/logo/TK_DEFAULT_LOGO.png" width="96px" />
          </div>

          <ion-card color="light" class="auth-card ion-margin">
            <ion-item color="light">
              <ion-input type="text" placeholder="Code" formControlName="token"></ion-input>
            </ion-item>
          </ion-card>

          <ion-button
            expand="block"
            class="ion-margin-start ion-margin-end ion-margin-bottom"
            type="submit"
          >
            Verify
          </ion-button>
          <span class="ion-margin"></span>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


