<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="friends">
      <ion-icon name="people-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="feed" class="button-center">
      <ion-icon name="add-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge mode="ios" color="danger">20</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Drifty</ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="search-outline"></ion-icon>
        </ion-button>
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

</ion-tabs>
