<div class="overflow-hidden shadow-xl my-3">
  <img src="https://i.imgur.com/dYcYQ7E.png" class="w-full" />
  <div class="flex justify-center -mt-8">
    <img src="https://i.imgur.com/8Km9tLL.jpg" class="rounded-full border-solid border-white border-2 -mt-3">
  </div>
  <div class="text-center px-3 pb-6 pt-2">
    <h3 class="text-black text-sm bold font-sans">Cameron Sim</h3>
    <p class="mt-2 font-sans font-light text-black">About....</p>
  </div>
  <div class="flex justify-center pb-3 text-black">
    <div class="text-center mr-3 border-r pr-3">
      <h2>34</h2>
      <span>Posts</span>
    </div>
    <div class="text-center">
      <h2>42</h2>
      <span>Friends</span>
    </div>
  </div>
</div>
