<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page">Clients</li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <a type="button" href="/clients/edit/" class="btn btn-lg bg-gradient-success btn-lg mt-4 mb-0" style="float: right;">New Client</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Clients table</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Username</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% clients.forEach((client)=> { %>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm"><%= client.username %></h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm <% if(client.active === true){ %> bg-gradient-success  <% } else { %> bg-gradient-danger <% } %>"><% if(client.active === true){ %> Active <% } else { %> Offline <% } %></span>
                                </td>
                                <td class="align-middle">
                                    <a href="/clients/edit/<%= client.id %>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit client">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script>-->
<!--    $('.generateM3u').on('click', function (e) {-->
<!--       e.preventDefault();-->
<!--        Swal.fire({-->
<!--            position: 'bottom-end',-->
<!--            title: 'M3u Has Been Generated',-->
<!--            showConfirmButton: false,-->
<!--            timer: 1500-->
<!--        })-->
<!--       console.log('clicked');-->
<!--    });-->
<!--</script>-->
