<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/clients">Clients</a></li>
        <li class="breadcrumb-item" aria-current="page">Edit User</li>
    </ol>
</nav>

<div class="container">
    <form action="/clients/edit/<% if(client.id){ %><%= client.id %><% } %>" method="post">
        <div class="card">
            <div class="card-body p-3">
                    <label class="form-label">Username</label>
                    <div class="input-group input-group-outline mb-3">
                        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="username" value="<% if(client.username){ %><%= client.username %><% } %>">
                    </div>
                    <label class="form-label">Password</label>
                    <div class="input-group input-group-outline mb-3">
                        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="password" value="<% if(client.password){ %><%= client.password %><% } %>">
                    </div>
                    <label class="form-label">Email</label>
                    <div class="input-group input-group-outline mb-3">
                        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="email" value="<% if(client.email){ %><%= client.email %><% } %>">
                    </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body p-3">
                <label class="form-label">Groups</label>
                <% groups.forEach((group)=> { %>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="clientGroups" value="<%= group.id %>" id="flexSwitchCheckDefault"
                            <% if(clientGroups.includes(group.id)){ %> checked <% } %> >
                        <label class="form-check-label" for="flexSwitchCheckDefault"><%= group.name %></label>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body p-3">
                <label class="form-label">Additional</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="activeClient" value="1" id="flexSwitchCheckDefault"
                    <% if(client.active === true){ %> checked <% } %> >
                    <label class="form-check-label" for="flexSwitchCheckDefault">Activate Client</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="trial" value="1" id="flexSwitchCheckDefault"
                    <% if(client.trial === true){ %> checked <% } %> >
                    <label class="form-check-label" for="flexSwitchCheckDefault">Trial</label>
                </div>
                <label class="form-label">Expiary Date</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                  </div>
                  <input class="form-control datePicker" id="date" name="exp_date" placeholder="YYYY-MM-DD" value="<% if(client.exp_date){ %><%= client.exp_date %><% } %>" type="text" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Save</button>
            <% if(client.id){ %>
            <a type="button" href="/clients/delete/<%= client.id %>" class="btn btn-lg bg-gradient-danger btn-lg mt-4 mb-0" style="float: right;">Delete</a>
            <% } %>
        </div>
    </form>
</div>

<script>
  $("form").submit(function(e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var actionUrl = form.attr('action');

    const Toast = Swal.mixin({
      toast: true,
      position: 'top-right',
      iconColor: 'white',
      customClass: {
        popup: 'colored-toast'
      },
      showConfirmButton: false,
      timer: 1500,
      timerProgressBar: true
    })

    $.ajax({
        type: "POST",
        url: actionUrl,
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {
          Toast.fire({
            icon: 'success',
            title: 'Saved successfully'
          })
        }
    });

  });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">
<script>
  $(document).ready(function(){
  	var date_input=$('.datePicker'); //our date input has the name "date"
  	var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
  	date_input.datepicker({
  		format: 'yyyy-mm-dd',
  		todayHighlight: true,
  		autoclose: true,
  	})
  })
</script>
