<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/groups">TODO</a></li>
    </ol>
</nav>

<div class="container">
    <div class="card">
        <div class="card-body p-3">
            <form action="/channels/edit/<% if(channel.id){ %><%= channel.id %><% } %>" method="post">
                <label class="form-label">Name</label>
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="name" value="<% if(channel.name){ %><%= channel.name %><% } %>">
                </div>
                <label class="form-label">Logo</label>
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="logo" value="<% if(channel.logo){ %><%= channel.logo %><% } %>">
                </div>
                <label class="form-label">Url</label>
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="url" value="<% if(channel.url){ %><%= channel.url %><% } %>">
                </div>
                <label class="form-label">imbd id</label>
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="imbdid" value="<% if(channel.imbdid){ %><%= channel.imbdid %><% } %>">
                </div>

                <label class="form-label">Release Date</label>
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="releaseDate" value="<% if(channel.releaseDate){ %><%= channel.releaseDate %><% } %>">
                </div>
                <label class="form-label">Plot</label>
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="plot" value="<% if(channel.plot){ %><%= channel.plot %><% } %>">
                </div>
                <label class="form-label">Runtime</label>
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="runtime" value="<% if(channel.runtime){ %><%= channel.runtime %><% } %>">
                </div>
                <label class="form-label">coverImg</label>
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="coverImg" value="<% if(channel.coverImg){ %><%= channel.coverImg %><% } %>">
                </div>
                <label class="form-label">Episode Number</label>
                <div class="input-group input-group-outline mb-3">
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" name="episode" value="<% if(channel.episode){ %><%= channel.episode %><% } %>">
                </div>
                <input type="hidden" name="tvgtype" value="series">
                <input type="hidden" name="SessonId" value="<%= sessonID %>">
                <input type="hidden" name="SeriesId" value="<%= seriesID %>">
                <input type="hidden" name="GroupId" value="0">

                <div class="text-center">
                    <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Save</button>
                    <% if(channel.id){ %>
                      <% if(channel.deleted){ %>
                        <a type="button" href="/channels/activate/<%= channel.id %>" class="btn btn-lg bg-gradient-success btn-lg mt-4 mb-0" style="float: right;">Activate</a>
                      <% } else { %>
                        <a type="button" href="/channels/delete/<%= channel.id %>" class="btn btn-lg bg-gradient-danger btn-lg mt-4 mb-0" style="float: right;">De-Activate</a>
                      <% } %>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
  $("form").submit(function(e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var actionUrl = form.attr('action');

    const Toast = Swal.mixin({
      toast: true,
      position: 'top-right',
      iconColor: 'white',
      customClass: {
        popup: 'colored-toast'
      },
      showConfirmButton: false,
      timer: 1500,
      timerProgressBar: true
    })

    $.ajax({
        type: "POST",
        url: actionUrl,
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {
          Toast.fire({
            icon: 'success',
            title: 'Saved successfully'
          })
        }
    });

  });
</script>
