<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Playlist</h5>
                    <p class="card-text">Manage your m3u Playlist.</p>
                    <a href="/#" class="btn btn-primary">Manage</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clients</h5>
                    <p class="card-text">Manage Clients accessing the playlist.</p>
                    <a href="/clients" class="btn btn-primary">Manage</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-4 col-sm-4 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">tv</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Total Channels</p>
                        <h4 class="mb-0"><%= channels.length %></h4>
                    </div>
                </div>
                <div class="card-footer p-3">
                    <hr class="dark horizontal my-0">
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-4 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">table_view</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Total Groups</p>
                        <h4 class="mb-0"><%= groups.length %></h4>
                    </div>
                </div>
                <div class="card-footer p-3">
                    <hr class="dark horizontal my-0">
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-4 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Total Clients</p>
                        <h4 class="mb-0"><%= clients.length %></h4>
                    </div>
                </div>
                <div class="card-footer p-3">
                    <hr class="dark horizontal my-0">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
    <div class="card">
      <div class="card-header pb-0">
        <div class="row">
          <div class="col-lg-6 col-7">
            <h6>Recently Played</h6>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Channel</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Client</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Time</th>
              </tr>
            </thead>
            <tbody>
              <% recentlyPlayed.forEach((recent) => { %>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><%= recent.Channel %></h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <%= recent.Client.username %>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <%= moment(recent.updatedAt).format('Do MMMM, YYYY h:mm a'); %>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="card h-100">
        <div class="card-header pb-0 p-3">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <h6 class="mb-0">Active Clients</h6>
            </div>
          </div>
        </div>
        <div class="card-body p-3 pb-0">
          <ul class="list-group">
            <% activeClient.forEach((active) => { %>
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark font-weight-bold text-sm"><%= active.Client.username %></h6>
                  <span class="text-xs"><%= moment(active.updatedAt).format('Do MMMM, YYYY h:mm a'); %></span>
                </div>
                <div class="d-flex align-items-center text-sm">
                    <%= active.Channel %>
                </div>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
