<div class="post">
    <div class="user">
        <div class="user-img"></div>
        <div class="user-info">
            <div class="user-name">Louis Dickinson</div>
            <span class="post-date">Yesterday at 11:49</span>
        </div>
        <div class="actions">
            <span class="heart"></span>
            <span class="comment"></span>
            <span class="share"></span>
        </div>
    </div>
    <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati beatae ipsum aperiam recusandae tempora eos architecto odio, voluptatibus, et fuga veritatis, ratione, magnam laudantium quas accusamus! Ea, maiores! Tenetur, nesciunt.
    </div>
</div>
